<!DOCTYPE html>
<html lang="it">
  <!-- HEADER -->
    <head>
        <meta charset="utf-8">
        <title>Sully's House - {% block title %}{% endblock %}</title>
        <meta name="keywords" content="affitti, immobiliari, contratti, case, casa, affitto, immobiliare">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <!-- CSS personale -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body class="total-page">
        <header>
          <!-- NAVBAR fissata in alto rossa -->
            <nav class="navbar fixed-top navbar-dark navbar-expand-lg bg-danger border-bottom border-2 border-dark">
                <div class="container-fluid">
                  <!-- contiene il titolo e il bottone che si espanderà con gli altri nav-item -->
                  <span class="navbar-brand mb-0 h1"><strong class="testo-bordato">Sully's House</strong></span>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <!-- elementi che compaiono quando premo bottone in md e sm, altimenti in lg tutti presenti-->
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link {%block home_active%}{%endblock%}" aria-current="page" href="/">Home</a>
                      </li>
                      <!-- elementi visibili solo quando utente loggato -->
                      {% if current_user.is_authenticated %}
                      <li class="nav-item">
                        <a class="nav-link {%block cliente_active%}{%endblock%}" href="{{url_for('cliente')}}">Spazio Cliente</a>
                      </li>
                      <!-- elemento visibile solo quando loggato e al tempo stesso anche locatore -->
                      {% if current_user.locatore == '1' %}
                      <li class="nav-item">
                        <a class="nav-link {%block locatore_active%}{%endblock%}" href="{{url_for('locatore', flag=1)}}">Spazio Locatore</a>
                      </li>
                      {% endif %}
                      <!-- email visibile solo se loggato + eventuale logout -->
                        <li class="nav-item dropdown dropstart">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{current_user.nickname}}
                          </a>
                          <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="{{ url_for('logout') }}">Esci</a></li>
                          </ul>
                        </li>
                        {% else %}
                        <!-- se non ancora autenticato, compare opzione di registrazione e accesso -->
                        <li class="nav-item">
                          <a class="nav-link {%block signup_active%}{% endblock %}" aria-current="page"
                            href="{{ url_for('signup') }}">Iscriviti</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link {%block login_active%}{% endblock %}" href="{{ url_for('login') }}">Accedi</a>
                        </li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </nav>
              <div class="bordo"></div>
        </header>
        <!-- gestore dei messaggi di flashing (es. success, danger ...) -->
        <div class="container-fluid under-nav">
          <div class="container-fluid">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
          </div>
          <div class="row">
            <!-- ASIDE -->
              <aside class="col-12">
                  {% block sidebar %}{% endblock %}
              </aside>
              <!-- MAIN -->
              <main class="col-12">
                  {% block content %}{% endblock %}
              </main>
          </div>
        </div>
        {% if current_user.locatore %}
        <footer>
            {% block fondo %}{% endblock %}
        </footer>
        {% endif %}
        <!-- script JS Boostrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <!-- Script JS jquery per il carosello di immagini -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>